{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="me">
    <div class="redovisning">
     <h1><a href="{{ path("kmom01") }}">kmom01</a></h1>
    <p>
    Under det här kursmomentet stötte jag på utmaningar på grund av den överflöd av ny information,
    inklusive Symfony, OOPHP och arbete med routes i PHP och JSON API.
    Trots dessa utmaningar fann jag det också vara en berikande och spännande erfarenhet.
    Koncepten med klasser och routes var inte så svåra att förstå,
    då de delvis liknade de jag tidigare stött på i Python och JavaScript.
    Skillnaderna låg främst i strukturen och syntaxen.
    Symfony var en ny plattform för mig och att få en djupare förståelse för dess
    kodstruktur och användning av olika paket var en fascinerande del av kursen.
    Genom att utforska Symfony och dess komponenter fick jag också
    möjlighet att fördjupa min kunskap om PHP-klasser och effektiv hantering av routes.
    Sammanfattningsvis var detta kursmoment en betydelsefull del av min resa inom webbutveckling,
    och jag känner mig mer säker och kunnig när det gäller att arbeta med PHP och Symfony.
    </p>
    </div>

    <div class="redovisning">
     <h1><a href="{{ path("kmom02") }}">kmom02</a></h1>
    <p>Under detta kursmoment fick jag en djupare förståelse för klasser i PHP,
    inklusive koncept som arv och komposition.
    Jag lärde mig hur man ärver egenskaper från en befintlig klass och hur man använder en klass inuti en annan klass,
    samt om de relationer som uppstår mellan dem.
    Dessutom fick jag insikt i hanteringen av sessioner och minnet i routes genom sessionssnittgränssnittet.
    Att använda post-formulär i routes var också en del av kursen.
    Även om jag tidigare hade erfarenhet av detta från tidigare kurser i JavaScript och Python,
    var det nytt för mig att arbeta med postning till ett JSON-API.
    I början var det utmanande att förstå hur jag skulle hantera detta,
    men tack vare övningarna kom jag på att använda ett formulär som postar till JSON-routen.
    Det var både roligt och utmanande, men jag kände att jag fick mycket värdefull information från detta kursmoment.
    Genom att tillämpa koncepten och övningarna i
    praktiken fick jag en mer robust förståelse för hur man skapar och hanterar klasser i PHP-miljön.
    Det öppnade också upp nya möjligheter för mig att utveckla webbapplikationer
    med PHP och integrera dem med andra tekniker som JSON-API:er.
    Sammantaget var kursmomentet en berikande erfarenhet som fördjupade mina kunskaper
    och gav mig verktyg för att ta min webbutveckling till nästa nivå.</p>
    </div>

    <div class="redovisning">
     <h1><a href="{{ path("kmom03") }}">kmom03</a></h1>
    <p>redovisningstext</p>
    </div>

    <div class="redovisning">
     <h1><a href="{{ path("kmom04") }}">kmom04</a></h1>
    <p>redovisningstext</p>
    </div>

    <div class="redovisning">
     <h1><a href="{{ path("kmom05") }}">kmom05</a></h1>
    <p>redovisningstext</p>
    </div>

    <div class="redovisning">
     <h1><a href="{{ path("kmom06") }}">kmom06</a></h1>
    <p>redovisningstext</p>
    </div>
  
    
</div>
{% endblock %}